*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #abeb79;
    object-fit: cover;
}
.text{
    width: 70%;
    background-color: #abeb79;
    border-radius: 10px;
    border: solid 1px #555;
    margin-left: 20px;
    font-size: 12px;
    padding: 10px;
    position: relative;
}
.text::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: solid 1px #555;
    border-left: solid 1px #555;
    left: 0;
    top: 0;
    transform: translate(-56%,100%) rotate(45deg);
    background-color: #abeb79;
}